body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
}
:root {
  /*Colors*/
  --pink: hsl(322, 100%, 66%);
  --Very-Pale-Cyan: hsl(193, 100%, 96%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Grayish-Blue: hsl(208, 11%, 55%);

  /*Typography*/
  --h-font-size: 25px;
  --h-font-family: "Poppins", sans-serif;
  --h-weights: 600;
  --b-font-family: "Open Sans", sans-serif;
  --b-weights: 400, 700;
  --b-font-size: 18px;
}

header {
  background-image: url(images/bg-hero-mobile.svg);
  background-color: var(--Very-Pale-Cyan);
  padding-bottom: 30px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}
.navbar .logo img {
  width: 150px;
}
.navbar .free-btn {
  padding: 10px 20px;
  font-family: var(--b-font-family);
  font-weight: var(--b-weights);
  background-color: #fff;
  border: none;
  border-radius: 30px;
  color: var(--Very-Dark-Cyan);
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
article {
  display: grid;
  place-items: center;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}
.about-text h1 {
  color: var(--Very-Dark-Cyan);
  font-weight: var(--h-weights);
  font-size: var(--h-font-size);
  font-family: var(--h-font-family);
  text-align: center;
}
.about-text p {
  color: var(--Very-Dark-Cyan);
  font-size: var(--b-font-size);
  text-align: center;
  font-family: var(--b-font-family);
  font-weight: var(--b-weights);
}
.about-text button,
.section-1 button {
  border: none;
  outline: none;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  margin-top: 10px;
  background-color: var(--pink);
  font-family: var(--b-font-family);
  font-size: var(--b-font-size);
}
.about-img {
  margin-top: 50px;
  width: 250px;
}
main {
  padding: 20px;
  margin-bottom: 200px;
}
.section {
  display: grid;
  place-items: center;
  border-radius: 10px;
  padding: 30px;
  margin-top: 30px;
  background-color: #fff;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.gt-img {
  width: 200px;
}
.gt-text {
  margin-top: 30px;
}
.gt-text h2,
.section-1 h2 {
  font-family: var(--h-font-family);
  font-weight: var(--h-weights);
  font-size: var(--h-font-size);
  color: var(--Very-Dark-Cyan);
  text-align: center;
}
.gt-text p {
  font-family: var(--b-font-family);
  font-size: var(--b-font-size);
  color: var(--Grayish-Blue);
  text-align: center;
}
.section-1 {
  display: grid;
  place-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 20px 10px;
  background-color: #fff;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 320px;
  position: absolute;
  margin-top: 120px;
}
footer {
  font-family: var(--b-font-family);
  font-size: var(--b-font-size);
  background-color: var(--Very-Dark-Cyan);
  color: #fff;
  padding: 20px;
  margin-top: 100px;
}
.info {
  margin-top: 160px;
}
.my-svg {
  fill: #fff;
}
.location,
.phone,
.email {
  display: flex;
  align-items: center;
  gap: 20px;
}
.location p {
  margin-top: 70px;
}
.abt-us {
  margin-top: 30px;
}
@media only screen and (min-width: 768px) {
  header {
    background-image: url(images/bg-hero-desktop.svg);
  }
  .navbar .logo img {
    width: 200px;
    margin-left: 30px;
  }
  .navbar .free-btn {
    margin-right: 40px;
    font-size: var(--b-font-size);
  }
  article {
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: left;
  }
  .about-img {
    width: 400px;
  }
  .about-text {
    max-width: 300px;
  }
  .about-text h1 {
    text-align: left;
  }
  .about-text p {
    text-align: left;
  }
  main {
    margin-top: 10px;
    padding: 30px;
  }
  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
  }
  .gt-img {
    order: 2;
    width: 300px;
  }
  .gt-text {
    order: 1;
    max-width: 300px;
  }
  .gt-text h2 {
    text-align: left;
  }
  .gt-text p {
    text-align: left;
  }
  .fc-img {
    order: 1;
  }
  .fc-text {
    order: 2;
  }
}
@media only screen and (min-width: 1024px) {
  .navbar .logo img {
    margin-left: 100px;
  }
  .navbar .free-btn {
    margin-right: 100px;
  }
  .about-img {
    width: 600px;
  }
  .section {
    gap: 100px;
  }
  .about-text {
    max-width: 400px;
  }
  .gt-text {
    max-width: 460px;
  }
  .gt-img {
    width: 350px;
  }
}
